@font-face
{
  font-family: PixelMplus12 Bold;
  src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus12-Bold_web.woff2')
    format("woff2");
}

body {
  font-family: PixelMplus12 Bold,sans-serif;
  background-color: #000080;
  color: white;
  margin: 40px;
  line-height: 110%
}


